@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p> there should be a video here</p>
    <video src="https://www.youtube.com/watch?v=1aZP4CDCQSo"></video>
        <p> there should be an iframe here</p>
        <iframe width="1340" height="720" src="https://www.youtube.com/embed/1aZP4CDCQSo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</body>
</html>
